{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "curly": "warn",
    "prettier/prettier": "warn"
  },
  "plugins": ["prettier"]
}