{
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "curly": "warn",
    "prettier/prettier": "warn"
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "prettier"
  ]
}